ion-content{
  --padding-start: 24px;
  --padding-end: 24px;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
}
form{
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
  justify-content: center;

  ion-item{
    width: 100%;
  }
}
